# Data Mining Project - Group 2

Student name: Sarah Leuthner <br>
Student ID: 20240581 <br>

Student name: Catarina Silva <br>
Student ID: 20240558 <br>

Student name: Afonso Silva<br>
Student ID: 20240495 <br>

Student name:<br>
Student ID:<br>

# Data Exploration

In [2]:
#importing all needed libraries
import sqlite3
import os #interact with local file system
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from math import ceil

# for better resolution plots
%config InlineBackend.figure_format = 'retina' # optionally, you can change 'svg' to 'retina'

# Seeting seaborn style
sns.set()

In [7]:
#path to database
customer_data = pd.read_csv("DM2425_ABCDEats_DATASET.csv", index_col = "customer_id")

df_customer_data = pd.DataFrame(customer_data)

In [9]:
df_customer_data.head()

,customer_region,customer_age,vendor_count,product_count,is_chain,first_order,last_order,last_promo,payment_method,CUI_American,...,HR_14,HR_15,HR_16,HR_17,HR_18,HR_19,HR_20,HR_21,HR_22,HR_23
customer_id,,,,,,,,,,,,,,,,,,,,,
1b8f824d5e,2360,18.0,2,5,1,0.0,1,DELIVERY,DIGI,0.00,...,0,0,0,0,2,0,0,0,0,0
5d272b9dcb,8670,17.0,2,2,2,0.0,1,DISCOUNT,DIGI,12.82,...,0,0,0,0,0,0,0,0,0,0
f6d1b2ba63,4660,38.0,1,2,2,0.0,1,DISCOUNT,CASH,9.20,...,0,0,0,0,0,0,0,0,0,0
180c632ed8,4660,NaN,2,3,1,0.0,2,DELIVERY,DIGI,0.00,...,1,0,0,0,0,0,0,0,0,0
4eb37a6705,4660,20.0,2,5,0,0.0,2,-,DIGI,14.57,...,0,0,0,0,0,0,0,0,0,0